header
    height: 450px
    background: #ccc
    background-image: "/assets/img/lapland.jpg"
    
nav
    a
        color: #123456
        display: inline-block
        margin-left: 20px
        font-weight: 700
        text-transform: uppercase